body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  /* make images flexible */
  
  a {
    color: #59331d;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: 10px solid #d98555;
  }
 
  /* navbar styling */
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
    align-items: center;
  }
  nav .navbar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
  }
  nav .logo img {
    max-width: 180px;
  }
  nav .logo {
    flex-basis: 20%;
    justify-content: flex-start;
    padding-top: 10px;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: #D98555;
  }
  /* establishes a white background */
  
  .main-bkgd {
    background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
    padding-left: 83px;
  }
 
  /* sits inside of the white background, centered */
  .home,
  .main {

    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15rem;
    padding-left: .5rem;
    padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  article {
    padding-left: 2rem;
    flex-basis: 40%;
  }
  
  /* figure {
    margin: 7rem 0 0 0;
    flex-basis: auto;
    border-radius: 10px;
    padding: 0;
  }
  .figure img {
    border-radius: 10px;
    margin: 7.1rem 0 0 0;
    flex-basis: auto;

  } */

figure {
    margin: 0;
    padding: 0 1rem 0 0;
    flex-basis: 42;
}
img {
    max-width: 200%;
    border-radius: 1rem;
}

  .button {
    display: inline-block;
    background-color: #59331D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #59331d;
  }
  footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
    padding: 2rem;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }

  /* Tablet */
  @media screen and (max-width: 1280px) {
    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }
    nav .logo {
        flex-basis: 100%;
      }
    nav ul {
      float: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    nav li{
        display: inline;
    }
    .main {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex-basis: 50%;
        padding-right: 5rem;
      }
      .main img {
        flex-basis: auto;
        border-radius: 10px;
        width: 25rem;
        height: auto;
      }

  }


  /* Mobile */
  @media screen and (max-width: 680px) {
    nav {
        display: flex;
        flex-flow: row wrap;
      }
    nav .logo {
        flex-basis: 100%;
      }
    nav ul {
      float: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    nav li{
        display: flex;
        justify-content: center;
    }

    .main {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .main img {
        margin-top: 2 rem;
        margin-left: 2.3rem;
        border-radius: 10px;
        width: 100%;
        height: auto;       
      }
  }

